# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [46]:
# import numpy and pandas
import numpy as np
import pandas as pd
import seaborn as sns
from scipy.stats import ttest_1samp, ttest_rel, ttest_ind
from scipy.stats import f_oneway
from scipy import stats

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [25]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [26]:
# Your code here:

pokemon.head(-10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
785,711,GourgeistSmall Size,Ghost,Grass,494,55,85,122,58,75,99,6,False
786,711,GourgeistLarge Size,Ghost,Grass,494,75,95,122,58,75,69,6,False
787,711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False
788,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False

In [28]:
pokemon.shape

(800, 13)

In [65]:
pokemon.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [32]:
# Your code here:

legendary_count = pokemon.loc[pokemon.Legendary == True, ['Legendary']].count()
legendary_count

Legendary    65
dtype: int64

In [33]:
n_legendary_count = pokemon.loc[pokemon.Legendary == False, ['Legendary']].count()
n_legendary_count

Legendary    735
dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [43]:
# Your code here:

legendary_data = pokemon.loc[pokemon.Legendary == True]
legendary_mean = round(legendary_data['Total'].mean(),2)
legendary_std = round(legendary_data['Total'].std(),2)

print("The mean of the total points for the legendary pokemons is:",legendary_mean)
print("The standard deviation of the total points for the legendary pokemons is:",legendary_std)

The mean of the total points for the legendary pokemons is: 637.38
The standard deviation of the total points for the legendary pokemons is: 60.94

In [44]:
n_legendary_data = pokemon.loc[pokemon.Legendary == False]
n_legendary_mean = round(n_legendary_data['Total'].mean(),2)
n_legendary_std = round(n_legendary_data['Total'].std(),2)

print("The mean of the total points for the non-legendary pokemons is:",n_legendary_mean)
print("The standard deviation of the total points for the non-legendary pokemons is:",n_legendary_std)

The mean of the total points for the non-legendary pokemons is: 417.21
The standard deviation of the total points for the non-legendary pokemons is: 106.76

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [50]:
# Your code here:

sample1 = stats.norm.rvs(loc=legendary_mean,scale=legendary_std,size=legendary_count)
sample2 = stats.norm.rvs(loc=n_legendary_mean,scale=n_legendary_std,size=n_legendary_count)

stats.ttest_ind(sample1,sample2,equal_var = False)

Ttest_indResult(statistic=26.28326822283409, pvalue=3.941767266315715e-48)

What do you conclude from this test? Write your conclusions below.

# Your conclusions here:

The Independent Samples t Test compares the means of two independent groups in order to determine whether there is statistical evidence that the associated population means are significantly different.

H0: The total points means of the two independent groups are equal.
H0: The total points means of the two independent groups are not equal.

The p-value is very high and we fail to reject the null hypothesis  H0.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [69]:
# Your code here:

pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [79]:
# Your code here:

water_pokemon = pokemon.loc[pokemon['Type 1'] == 'Water']
water_pokemon_count = pokemon.loc[pokemon['Type 1'] == 'Water', ['Type 1']].count()
water_pokemon_mean = round(water_pokemon['Total'].mean(),2)
water_pokemon_std = round(water_pokemon['Total'].std(),2)

print("The mean of the total points for water pokemons is:",water_pokemon_mean)
print("The standard deviation of the total points for water pokemons is:",water_pokemon_std)

The mean of the total points for water pokemons is: 430.46
The standard deviation of the total points for water pokemons is: 113.19

In [81]:
n_water_pokemon = pokemon.loc[pokemon['Type 1'] != 'Water']
n_water_pokemon_count = pokemon.loc[pokemon['Type 1'] != 'Water', ['Type 1']].count()
n_water_pokemon_mean = round(n_water_pokemon['Total'].mean(),2)
n_water_pokemon_std = round(n_water_pokemon['Total'].std(),2)

print("The mean of the total points for water pokemons is:",n_water_pokemon_mean)
print("The standard deviation of the total points for water pokemons is:",n_water_pokemon_std)

The mean of the total points for water pokemons is: 435.86
The standard deviation of the total points for water pokemons is: 121.09

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [84]:
# Your code here:

sample1 = stats.norm.rvs(loc=water_pokemon_mean,scale=water_pokemon_std,size=water_pokemon_count)
sample2 = stats.norm.rvs(loc=n_water_pokemon_mean,scale=n_water_pokemon_std,size=n_water_pokemon_count)

stats.ttest_ind(sample1,sample2,equal_var = False)

Ttest_indResult(statistic=-1.105726638498989, pvalue=0.2704877206785237)

Write your conclusion below.

# Your conclusions here:

The Independent Samples t Test compares the means of two independent groups in order to determine whether there is statistical evidence that the associated population means are significantly different.

H0: The total points means of the water pokemons and the other pokemons are equal.
H0: The total points means of the two groups are not equal.

The p-value is high and we fail to reject the null hypothesis  H0.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [85]:
# Your code here: depending samples, difference between each pokemon's defense and attack scores
# H0: The defense and attack scores have identical average (expected) values.
# H1: The defense and attack scores don't have identical average (expected) values.

stats.ttest_rel(pokemon['Attack'],pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

# Your conclusions here:

If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant.
Here we can reject the null-hypothesis for the comparison Attak and Defense - there is a significant difference.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [86]:
# Your code here:
# H0: The special defense and special attack scores have identical average (expected) values.
# H1: The special defense and special attack scores don't have identical average (expected) values.

stats.ttest_rel(pokemon['Sp. Atk'],pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

# Your conclusions here:

The p-value is above 0.05 and we can't reject the null-hypothesis

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [90]:
# Your code here:
# H0: The difference between the means is zero.
# H1: The difference between the means is not zero.    

print(stats.ttest_1samp(pokemon['Defense'],0.0))
print(stats.ttest_1samp(pokemon['Attack'],0.0))

Ttest_1sampResult(statistic=66.97712771588154, pvalue=0.0)
Ttest_1sampResult(statistic=68.84393492906322, pvalue=0.0)

The alternative hypothesis assumes that some difference exists between the true mean (Î¼) and the comparison value (m0, here 0.0), whereas the null hypothesis assumes that no difference exists. 

# We can reject when the p-value is less than 0.05 (95% significance)
# We can reject the H0 Hypothesis in both examples
# Both tests have the same p-value as a result

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [92]:
# Your code here:

pd.crosstab(pokemon['Legendary'],pokemon['Type 1'],margins=True)

Type 1,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water,All
Legendary,,,,,,,,,,,,,,,,,,,
False,69,29,20,40,16,27,47,2,30,67,28,22,96,28,43,40,23,108,735
True,0,2,12,4,1,0,5,2,2,3,4,2,2,0,14,4,4,4,65
All,69,31,32,44,17,27,52,4,32,70,32,24,98,28,57,44,27,112,800

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: